:root {
    --font-color: #fff;
    --bg-color: #252525;
}

[data-theme="light"] {
    --font-color: #252525;
    --bg-color: #eee;

}


* {
    transition: 100ms;
}


html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 20px

}

/* BUTTONS */

button{
    background: none;
    border: none;
    color: var(--font-color);
}
button:hover{
    cursor: pointer;
}

button:disabled{
    cursor:auto
}




/* HEADER */

#logo{
    width: 180px;
    height: 120px;
    opacity: 90%;
    

}

#header{
    pointer-events: none;
    display: flex;
    position: fixed;
    width: 100vw;
    max-width:100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    margin-top: 20px;
}
nav {
    pointer-events:auto;
    font-family: 'Quicksand', sans-serif;
    padding: 16px;
    font-size: 22px;
    opacity: 90%;
    border-radius: 10px;
    width: 85%;
}

#modeBtn{
    font-size: 26px;
    transition: 400ms;

}
#modeBtn:hover {
    transition: 400ms;
    transform: scale(1.4);
}

/* HOME PAGE*/


#homeDiv{
    position: absolute;
    display: flex;
    max-width:100%;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

#homeTxt{
    text-align: center;
    width: 66%;
    padding-top: 50px;
    font-size: 120px;
    font-weight: 600;

    border-radius: 10px;
    color: var(--bg-color);
    text-shadow: 2px 2px #C937D3


}

#heroImg{
    max-width:100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.page{
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* PRODUCTS PAGE*/

#Products {
    padding-top: 80px;
    background: linear-gradient(0deg, rgba(210,117,191,1) 0%, rgba(165,102,168,1) 100%);
}
#Products p {
    font-size: 14px;
}
.prodImg {
    width:140px;
    height: 140px;
    border-radius: 10px;
    margin:8px 0px
}
.row {
    width: 85%;
    max-width: 900px;
}
.col {
    text-align: center;
    color: var(--font-color);
    background-color: var(--bg-color);
    margin: 10px;
    padding-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
}

.col:hover{
    transform: scale(1.05);
}

.product-name {
    font-weight: 700;
    color: #C937D3
}

.modal-content {
    margin-top: 290px;
    padding: 40px;
    border-radius: 10px;
    color: var(--font-color);
    background-color: var(--bg-color);
}

/* ABOUT PAGE*/

#About {
    padding-top: 80px;
}

#aboutTxt{
    max-width: 760px;
    width:70%;
    border: 1px solid #C937D3;
    padding: 25px;
    border-radius: 10px;
    margin-left: auto;
}

#sidecat {
    align-self: flex-end;
    height: 100vh;
    width: 23vw;
    object-fit: cover;
    margin-left: auto;
    min-height: 600px;

}


/* REVIEWS PAGE*/

#Reviews {
    padding-top: 60px;
    background: linear-gradient(0deg, rgba(210,117,191,1) 0%, rgba(165,102,168,1) 100%);
}

#reviewDiv{
    width: 50%;
    font-size: 24px;
    background-color: var(--bg-color);
    padding: 30px;
    border-radius: 10px;
    margin: 14px
    
}

.arrowBtn {
    transition: 300ms;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
}

.arrowBtn:hover{
    transform: scale(1.2);
}


/* CONTACT PAGE */

#Contact {
    padding-top: 80px;
}


#sidecat2 {
    align-self: flex-end;
    height: 100vh;
    width: 26vw;
    object-fit: cover;
    margin-right: auto;
    min-height: 600px;


}

#formDiv {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    min-height: 380px;
    justify-content: space-between;
}
#formDiv h3 {
    margin-bottom: 26px;
    text-align: center;
}

#formDiv * {
    border-radius: 10px;
    padding: 8px;
}

#formSubmitBtn{
    margin-top: 15px;
    align-self: center;
    width: 50%;
    background-color: #C937D3;
    color: white;
    border: 1px solid var(--font-color)
}
#formSubmitBtn:hover {
    transform: scale(1.08);
    transition: 400ms;
    background-color: #C937D3;
}

#formSubmitBtn:disabled{
    background-color: grey;
}

#formSubmitBtn:disabled:hover{
    transform: none;
    background-color: grey;
}




/* FOOTER */

#Footer{
    
    color: rgba(5,5,5,.6);
    font-size: 14px;
    width: 100vw;
    height: 18vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(210,117,191,1) 0%, rgba(165,102,168,1) 100%);
    min-height: 120px;

}
#Footer a {
    color: white
}


/* MEDIA QUERIES */

@media (max-width: 1000px) {

        

    .page{
        min-height: 100vh;
        height: auto;
    }
    
    /* HEADER */


    #header{
        flex-direction: column-reverse;
        margin-top: 10px;
        width:100%;
        height: 100vh;
        justify-content: space-between;
        align-items: unset;
    }
    #logo {
        width:140px;
        height: 94px;
        margin: 10px;
    }
    #logo-div {
        margin-left: auto;
    }

    nav{
        align-self: center;
        width: 95%;
    }

    /* HOME PAGE */

    #homeTxt{
        font-size: 90px;
        padding-top: 0px;
    }

    /* PRODUCTS PAGE */
    #Products {
        padding-top: 0px;
    }

    #Products p {
        font-size: 12px;
    }
    .prodImg {
        width:120px;
        height: 120px;
        margin:6px 0px
    }
    .row {
        width: 90%;
        margin: 75px 0

    }

    /* ABOUT PAGE */

    #About{
        padding-top: 0px;
        flex-direction: column;
    }
        
    #aboutTxt{
        width:90%;
        border: 1px solid #C937D3;
        padding: 15px;
        border-radius: 10px;
        margin: 75px 0
    }

    #sidecat {
        margin: 0;
        height: 40vh;
        width: 100vw;
        max-width: 100%;
        min-height: 100px;
        object-fit: cover;
    }
    /* REVIEWS PAGE */

    #Reviews{
        padding: 0px

    }

    #reviewDiv{
        width: 65%;
        margin: 75px 0;

        
    }
    
    /* CONTACT PAGE */

    #Contact{
        padding-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sidecat2 {
        border: none;
        margin: 0;
        height: 40vh;
        min-height: 100px;
        width: 100vw;
        max-width: 100%;
        object-fit: cover;    
    }
    
    #formDiv {
        width: 70%;
        margin: 50px 0px;
        min-height: 400px;
        justify-content: space-between;
    }



  }

  @media (max-width: 600px) {

    
    body{
        font-size: 17px;
    }

    .page{
        height: auto;
        min-height: auto;
    }

    #logo {
        width:120px;
        height: 80px;
        margin: 8px;
    }


    /* HOME PAGE */

    #homeTxt{
            font-size: 70px;
    }

    /* REVIEW PAGE */

    #Reviews{
        padding: 55px 0;
        flex-direction: column;
    }
    #reviewDiv{
        width: 80%;
        font-size: 22px;
        margin: 10px
        
    }

    /* CONTACT PAGE */

    #formDiv {
        width: 85%
    }
    #formDiv h3 {
        font-size: 26px;
    }
    
    #Footer {
        height: 30vh
    }


  }

  @media (max-width: 350px) {
    body{
        font-size: 15px;
    }
    #homeTxt{
        font-size: 60px;
    }

    #logo{
        width:90px;
        height:60px
    }

    #reviewDiv{
        width: 90%;
        font-size: 16px;
        margin: 8px
        
    }

  }


